body {
    margin: 0;
    --nav-width: 200px; /*init "--nav-width" variable*/
    /* background: #eeeeee; */
    background: white;
    /* overflow: hidden; */
}

.page_container {
    margin: 0 0 0 var(--nav-width); 
    text-align: justify;
}

/* NAVIGATION MENU & HEADER STYLES */
.nav {
    position: fixed;
    top: 79.88px;
    left: 0;
    width: var(--nav-width);
    height: 100vh; /*set to full height*/
    background: #222222;
}

.nav_link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.header_block {
    position: fixed;
    height: 79.51px;
    top: 0;
    right: 0;
    left: 0;
    padding-left: var(--nav-width);
    background: #222222;
    color: #eeeeee;
}

.header_block h1{
    display: inline-block;
    text-align: center;
}

.page_title {
    display: inline-block;
}

.page_title h1 {
    text-align: center;
}


/* MAIN CONTENT */
.main_content_block {
    height: 100%;
    background: #eeeeee;
    margin-top: 79.8px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content_container {
    padding: 20px;
}


/* HOME PAGE */
#homepage_container {
    background-image: url("../img/main_page_image.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
    padding: 20px 100px;
    color: white;
}


/* OBJECT LISTS */
.object_list {
    list-style: none;
    padding-right: 40px;
}

.object_list_item {
    padding: 10px 20px;
    background: aliceblue;
    margin-bottom: 2px;
    margin-top: 2px;
    border-width: medium;
    border-color: #222222;
    border-style: solid;
    border-radius: 4px;
}

.object_list_item div {
    padding-left: 30px;
}

.center-horizontal {
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); */
}


/* GENERAL FORM STYLING (using fexbox) */
.form_page {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
}

.flex_form {
    margin: auto;
    margin-top: 10%;
    border-radius: 3px;
}

.flex_form h1 {
    text-align: center;
}

.flex_form button {
    background: #4CAF50;
    color: white;
    border-radius: 3px;
    border-style: none;
    width: 200px;
    height: 45.55px;
}

.flex_form input {
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    height: 35px;
    width: 200px;
}

.flex_form textarea {
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
}


/* LOGIN FORM STYLES*/
#login_form {
    text-align: center;
}


/* NEW ENTRY FORM STYLES */
.new_entry_form {
    text-align: center;
}

.new_entry_form input, textarea {
    width: 600px;
    max-width: 600px;
}


/* BACK TO TOP BUTTON */
#top_btn {
    display: none; 
    position: fixed; 
    right: 30px; 
    bottom: 20px;
    z-index: 99; 
    border: none; 
    outline: none; 
    color: #555; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#top_btn:hover {
    background-color: #555;
    color: white;
}


/* DROPDOWN BUTTON */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: right;
    margin-right: 14px;
    margin-top: 14px;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}